:root {
  --preto: #0F0E0E;
  --branco: #F5FAE1;
}

.imagem__genova,
.imagem__genova__navbar {
  height: 30px;
  width: 30px;
}

.botoes__profile
{
  display: flex;
  justify-content: space-between;
  gap: 5em;
}
.imagem__genova__profile{
  height: 60px;
  width: 60px;
}

.imagem__genova__branco {
  height: 20px;
  width: 20px;
}

.imagem__card__cerebro,
.imagem__card__cerebro2,
.imagem__card__bot {
  width: 100px;
  height: 100px;
}

.info__prioridades {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 70px;
  padding: 0 20%;
}

.info__prioridades__nao__urgente {
  color: blue;
}

.info__prioridades__pouco__urgente {
  color: orange;
}

.info__prioridades__urgente {
  color: red;
}

.info__fale__conosco {

  margin-top: 10%;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.card-img-top {

  width: 150px;
  height: 150px;
}

.card {
  align-items: center;
}

.abrirchamado__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  gap: 2em;
}

.selecionar__prioridade {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.textbox__chamado {
  width: 350px;
}

.opc__naourgente {
  color: blue;
}

.rodinha__do__naourgente {
  border-color: blue;
}

.opc__poucourgente {
  color: orange;
}

.rodinha__do__poucourgente {
  border-color: orange;
}

.opc__urgente {
  color: red;
}

.rodinha__do__urgente {
  border-color: red;
}

.profile__main
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:10%;
  gap: 1em;
}

.textbox__profile
{
  width: 350px;
}


input[type=checkbox] {
  border: 2px solid var(--preto);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--preto);
  border-color: var(--preto);
  box-shadow: none;
  outline: none;
}

[data-bs-theme="dark"] {
  color: white;

  .nav-link {
    --bs-nav-link-color: white;

  }
}

.main__denuncias
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 9%;
}

.img__hand__denuncias
{
    width:  150px ;
    height: 150px;
}

.inputdenuncia
{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.inputmedidas
{
    width: 400px;
}

.selecionadordegravidade
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.sizeselecionador
{
    width: 400px;
}

@media (max-width: 767.98px) {
  .card-img-top {
    width: 100px;

  }

  .info__fale__conosco {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }

  .card {
    text-align: center;
    width: 200px;
  }

  .card-title,
  .card-text {
    width: 300px;
  }

}

@media (max-width: 1336px) {

  .info__fale__conosco {
    margin-top: 16%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
  }

  .card {
    text-align: center;
    width: 200px;
  }

  .card-title,
  .card-text {
    width: 300px;
  }

}


@media (min-width: 400px) and (max-width: 1000px) {

  .abrirchamado__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 45%;
    align-items: center;
    gap: 4em;
    padding: 1em;
  }

  .profile__main
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:45%;
    gap: 1em;
    padding: 1em;
  }
}